# packages installed
elpa/
eaf/
elpy/
quelpa/
quelpa/melpa/
site-lisp/
site-lisp/emacs-application-framework/
# compiled
*.elc

# Backup files
*~
*.bak
/#*/#
# auto save files
auto-save-list/
*.~undo-tree
ac-comphist.dat
# caches
eln-cache/
eshell/
recentf
request/
tramp
smex-items
